node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
src/Navigation/RootNavigator.tsx
package-lock.json
package.json
tsconfig.json
yarn.lock
src/Navigation/RootNavigator.tsx
